@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

/* * ----- Variables ----- */
:root {
  --bg-color: #f0f4f8;
  --text-color: #1a202c;
  --primary-color: #1e90ff;
  --secondary-color: #ff7f50;
  --footer-text-color: #fdfdfdd2;
  --box-shadow: 0 6px 20px rgba(0, 0, 0, 0.07);
  --transition: all 0.25s ease-in-out;
}

/* * ----- Reset CSS ----- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "League Spartan", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  position: relative;
  overflow-x: hidden;
}

img {
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

p {
  line-height: 1.5;
  font-size: 1.1rem;
}

input,
button,
select,
option,
textarea,
a {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

/* * ----- Utility Classes ----- */

.container {
  max-width: 1600px;
  padding: 0 8vw;
  margin: 0 auto;
}

.section-heading {
  font-size: 4rem;
  font-weight: 500;
  color: var(--text-color);
  letter-spacing: 2px;
  max-width: 40rem;
  margin-bottom: 2rem;
}

.section-heading span {
  color: var(--primary-color);
}

section {
  padding-top: 6rem;
}

/* Button */
.primary-btn {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: 2px solid var(--primary-color);
  letter-spacing: 2px;
  position: relative;
  transition: var(--transition);
  width: max-content;
  color: var(--primary-color);
}

.primary-btn span {
  position: relative;
  z-index: 2;
}

.primary-btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--primary-color);
  transition: all 0.35s;
}

.primary-btn:hover {
  color: var(--bg-color);
}

.primary-btn:hover:after {
  width: 100%;
}

.secondary-btn {
  color: var(--secondary-color);
  font-size: 1.2rem;
}

/* * ----- Main Styles ----- */

/* * ----- Navbar ----- */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 1rem 0;
}

.navbar.scrolled {
  background-color: var(--text-color);
  box-shadow: var(--box-shadow);
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--bg-color);
  letter-spacing: 2px;
  cursor: pointer;

  & span {
    color: var(--primary-color);
  }
}

.navlinks {
  display: flex;
  gap: 2rem;
  color: var(--bg-color);
}

.navlinks li {
  font-size: 1.1rem;
  font-weight: 500;
}
.navlinks li:hover {
  color: var(--primary-color);
}

.navbar-button {
  font-size: 1.5rem;
  display: none;
}

/* * ----- Hero Section ----- */
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("/img/hero.png") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.hero .section-heading {
  color: var(--bg-color);
  margin-bottom: 0;
}

.hero .section-heading span {
  display: block;
}

.hero .primary-btn {
  color: var(--bg-color);
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

/* * ----- Services ----- */
.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 2rem;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  background: #fff;
  transition: var(--transition);
  text-align: center;
}

.service:hover {
  box-shadow: none;
}

.service i {
  font-size: 2.5rem;
  color: var(--primary-color);
}

.service h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

/* * ----- Projects ----- */
.projects-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.project {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  place-items: center;
  gap: 2rem;
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projects-container div:last-child {
  grid-template-columns: 1.2fr 0.8fr;
  .project-img {
    order: 1;
  }
  .project-info {
    order: 2;
  }
}

.project-info h1 {
  font-size: 2.2rem;
}

.project-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* * ----- About ----- */
#about .section-heading.outer {
  display: none;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 30rem;
  column-gap: 2rem;
}
.about-img {
  padding-left: 3vw;
}

.about-img-bg {
  padding: 0 0.5rem 0.5rem 0.5rem;
  position: relative;
  background: url("./img/about.png") no-repeat center center/cover;
  min-height: 20rem;
  height: 100%;
}

.about-img-bg::after {
  content: "";
  width: 90%;
  height: 90%;
  border: 0.5rem solid var(--primary-color);
  position: absolute;
  top: calc(10% + 1.5rem);
  right: calc(10% + 1.5rem);
  z-index: -1;
}

.about-info p {
  margin-top: 3rem;
}
.about-info .primary-btn {
  margin-top: 1rem;
  display: block;
}

/* * ----- Contact ----- */
#contact .section-heading.outer {
  display: none;
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 2rem;
}

.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  background: #fff;
  transition: var(--transition);
  text-align: center;
}

.contact-card:hover {
  box-shadow: none;
}

.contact-card i {
  font-size: 2.5rem;
  color: var(--primary-color);
}

.contact-card p {
  font-size: 1.2rem;
}

/* * ----- Footer ----- */
footer {
  margin-top: 6rem;
  text-align: center;
  padding: 2rem 0 0.5rem;
  background-color: var(--text-color);
  color: var(--footer-text-color);
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
  margin: 2rem 0;
}

.social-links a:hover {
  color: var(--primary-color);
}

/* * ----- Media Queries ----- */
@media screen and (max-width: 1024px) {
  .container {
    padding: 0 6vw;
  }

  .section-heading {
    font-size: 3.2rem;
  }

  /* Projects */
  .project {
    grid-template-columns: 1fr 1fr !important;
    gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 4vw;
  }

  .section-heading {
    font-size: 3.4rem;
  }

  .hero {
    height: 90vh;
  }

  /* Mobile Navbar start */
  .navlinks {
    position: absolute;
    top: 100%;
    right: -100%;
    flex-direction: column;
    background-color: var(--text-color);
    text-align: center;
    justify-content: center;
    gap: 2rem;
    height: 60vh;
    overflow: hidden;
    transition: var(--transition);
    color: var(--bg-color);
    width: 50%;
  }

  .navlinks.mobile {
    right: 0;
  }

  .navbar-button {
    display: block;
    color: var(--bg-color);
  }

  /* Projects */
  .project {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .projects-container div:last-child {
    .project-img {
      order: 2;
    }
    .project-info {
      order: 1;
    }
  }

  .project > div {
    width: 100%;
  }

  .project-info p {
    max-width: 40rem;
  }

  .project-img {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .services-container {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem;
  }
  .service {
    padding: 1rem;
  }
  .about-container {
    display: flex;
    flex-direction: column;
  }

  #about .section-heading.outer {
    display: block;
  }

  #about .section-heading.inner {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 90%;
  }

  .section-heading {
    font-size: 3rem;
  }

  .container {
    padding: 0 2vw;
  }

  .navlinks.mobile {
    width: 100%;
  }

  .hero {
    height: 70vh;
  }

  .hero {
    align-items: start;
    text-align: start;
    gap: 2rem;
  }
}

.hidden {
  display: none;
}


.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}