@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

/* * ----- Reset CSS ----- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
}

img {
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

p {
  line-height: 1.5;
}

input,
button,
select,
option,
textarea,
a {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

/* * ----- Utility Classes ----- */

.container {
  max-width: 1600px;
  padding: 0 8vw;
  margin: 0 auto;
}

.section-heading {
  font-size: 4rem;
  font-weight: 500;
  color: var(--bg-color);
  letter-spacing: 2px;
  max-width: 40rem;
}

.section-heading span {
  color: var(--primary-color);
  font-size: 4.1rem;
  margin: 0.5rem 0;
}

/* * ----- Variables ----- */
:root {
  --bg-color: #f0f4f8;
  --text-color: #1a202c;
  --primary-color: #1e90ff;
  --secondary-color: #ff7f50;
  --secondary-dark-color: #c85030;
  --box-shadow: 0 6px 20px rgba(0, 0, 0, 0.07);
  --transition: all 0.25s ease-in-out;
}

/* * ----- Main Styles ----- */

/* * ----- Header Section ----- */
#header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("/img/hero.jpg") no-repeat center center/cover;
  height: 100vh;
}

/* * ----- Navbar ----- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  position: relative;
}

.navbar .logo {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--bg-color);
  letter-spacing: 1px;

  & span {
    color: var(--primary-color);
  }
}

.navlinks {
  display: flex;
  gap: 2rem;
  color: var(--bg-color);
}

.navlinks li {
  font-size: 1.1rem;
  font-weight: 500;
}

.navbar-button {
  font-size: 1.5rem;
  display: none;
}

/* * ----- Hero ----- */
#hero {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

#hero .section-heading span {
  display: block;
}

.hero-btn {
  padding: 0.8rem 1.6rem;
  font-size: 1.2rem;
  color: var(--bg-color);
  border: 2px solid var(--primary-color);
  letter-spacing: 2px;
  position: relative;
  transition: var(--transition);
  width: max-content;
}

.hero-btn span {
  position: relative;
  z-index: 2;
}

.hero-btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--primary-color);
  transition: all 0.35s;
}

.hero-btn:hover {
  color: #fff;
}

.hero-btn:hover:after {
  width: 100%;
}

/* * ----- Media Queries ----- */
@media screen and (max-width: 1024px) {
  .container {
    padding: 0 6vw;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 4vw;
  }

  #header{
    height: 90vh;
  }

  /* Mobile Navbar start */
  .navlinks {
    position: absolute;
    top: 100%;
    right: -100%;
    flex-direction: column;
    background-color: white;
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: var(--transition);
    color: var(--text-color);
  }

  .navlinks.mobile {
    height: max-content;
    right: 0;
  }

  .navlinks li a {
    margin: 0.1rem 4rem;
  }

  .navlinks li:first-child {
    margin-top: 2rem;
  }

  .navlinks li:last-child {
    margin-bottom: 1.5rem;
  }

  .navlinks li:hover {
    color: var(--primary-color);
  }

  .navbar-button {
    display: block;
    color: var(--bg-color);
  }
  /* Mobile Navbar end */
}

@media screen and (max-width: 480px) {
  html {
    font-size: 90%;
  }

  .container {
    padding: 0 2vw;
  }

  .navlinks.mobile {
    width: 100%;
  }

  #header{
    height: 70vh;
  }

  #hero {
    align-items: start;
    text-align: start;
    gap: 2rem;
  }

  .hero-heading {
    font-size: 3rem;
  }
}

.hidden {
  display: none;
}
